<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-router-link routerLink="/recu" color="dark">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
        <ion-col class="modi">
          <ion-title>Recuperación</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-img style="height: 250px; padding-top: 20px;"
      src="../../../assets/image/contra.png"
      alt="se cayó la wea">
    </ion-img>
  </div>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="form_clave" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Clave Actual:</ion-label>
          <ion-input type="password" formControlName="claveActual" (input)="removeSpaces('claveActual')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_clave.get('claveActual')?.invalid && (form_clave.get('claveActual')?.dirty || form_clave.get('claveActual')?.touched)">
          <small *ngIf="form_clave.get('claveActual')?.errors?.['required']">La clave actual es requerida.</small>
        </ion-text>
        <ion-text color="danger" *ngIf="claveIncorrecta">
          <small>La clave actual es incorrecta.</small>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Contraseña Nueva:</ion-label>
          <ion-input type="password" formControlName="contraseñaNueva" (input)="removeSpaces('contraseñaNueva')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_clave.get('contraseñaNueva')?.invalid && (form_clave.get('contraseñaNueva')?.dirty || form_clave.get('contraseñaNueva')?.touched)">
          <small *ngIf="form_clave.get('contraseñaNueva')?.errors?.['required']">La nueva contraseña es requerida.</small>
          <small *ngIf="form_clave.get('contraseñaNueva')?.errors?.['minlength']">La nueva contraseña debe tener al menos 6 caracteres.</small>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña Nueva:</ion-label>
          <ion-input type="password" formControlName="confirmarContraseña" (input)="removeSpaces('confirmarContraseña')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_clave.get('confirmarContraseña')?.invalid && (form_clave.get('confirmarContraseña')?.dirty || form_clave.get('confirmarContraseña')?.touched)">
          <small *ngIf="form_clave.get('confirmarContraseña')?.errors?.['required']">La confirmación es requerida.</small>
        </ion-text>
        <ion-text color="danger" *ngIf="form_clave.errors?.['passwordsDoNotMatch']">
          <small>Las contraseñas no coinciden.</small>
        </ion-text>

        <ion-button class="ion-padding" expand="block" type="submit" [disabled]="form_clave.invalid">Cambiar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
