<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="ion-text-left ion-padding">
        <h1>Juanito</h1>
        <ion-router-link routerLink="/editarperfil" color="dark">
          Editar perfil
        </ion-router-link>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="icon-col">
          <ion-router-link routerLink="/viajec" color="dark" class="custom-router-link">
            <ion-icon name="book" size="large"></ion-icon>
            <span>Tu viaje</span>
          </ion-router-link>

          <ion-router-link routerLink="/historial" color="dark" class="custom-router-link">
            <ion-icon name="calendar" size="large"></ion-icon>
            <span>Historial</span>
          </ion-router-link>

          <ion-router-link routerLink="/home" color="dark" class="custom-router-link">
            <ion-icon name="person" size="large"></ion-icon>
            <span>Cambiar cuenta</span>
          </ion-router-link>

          <ion-router-link routerLink="/login" color="dark" class="custom-router-link">
            <ion-icon name="notifications" size="large"></ion-icon>
            <span>Cerrar sesión</span>
          </ion-router-link>

          <ion-router-link routerLink="/autos" color="dark" class="custom-router-link">
            <ion-icon name="car" size="large"></ion-icon>
            <span>Autos</span>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>DuoCar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-grid>
      <!-- Primer Elemento: ion-select -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-select label="Selecciona tu DuocUC" placeholder="DuocUC">
              <ion-select-option value="Valdivia">Valdivia</ion-select-option>
              <ion-select-option value="Concepcion">Concepcion</ion-select-option>
              <ion-select-option value="Peru">Peru</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Segundo Elemento: ion-input -->
      <ion-row>
        <ion-col size="12">
          <ion-input label="¿Dónde vas?" label-placement="floating" fill="solid" placeholder="Ingresa la dirección" class="modi-1"></ion-input>
        </ion-col>
      </ion-row>

      <!-- Lista de Tarjetas -->
      <ion-row>
        <ion-col size="12">
          <div class="scrollable-container">
            <ion-card>
              <ion-card-header>
                <ion-card-title class="ion-text-center">Publica tu viaje</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>

                  <ion-item>
                    <ion-input label="Precio:" placeholder="$$$$$$$$$ "></ion-input>
                  </ion-item> 


                  <ion-item>
                    <ion-select label="Selecciona tu auto" placeholder="Tu nae">
                      <ion-select-option value="La nae1">La nae1</ion-select-option>
                      <ion-select-option value="La nae2">La nae2</ion-select-option>
                      <ion-select-option value="La nae3">La nae3</ion-select-option>
                    
                    </ion-select>
                  </ion-item> 

               
                  
                </ion-list>

                
          
                
              </ion-card-content>
              <ion-card-content>
       
                  <ion-button expand="block" routerLink="/viajec">publicar</ion-button>
              </ion-card-content>
            </ion-card>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
