<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Columna con la flecha a la izquierda -->
        <ion-col size="auto">
          <ion-router-link routerLink="/home" color="dark" >
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <!-- Columna con el título centrado -->
        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Perfil</ion-title>
        </ion-col>

        <!-- Columna con el icono de la casa a la derecha -->
        <ion-col size="auto">
          <ion-router-link routerLink="/home" color="dark" >
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input label="Nombre:" placeholder="Juanito"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apellido:" placeholder="Juanez"></ion-input>
      </ion-item> 

        <ion-button class="ion-padding" expand="block">Cambiar</ion-button>


    </ion-card-content>
</ion-card>



  <ion-card>
      <ion-card-content>
        <ion-router-link routerLink="/cambiarcorreo" color="dark" class="custom-router-link">       
            <span>Cambiar correo</span>
            <ion-icon name="chevron-forward" size="large"></ion-icon>
        </ion-router-link>  

        <ion-router-link routerLink="/cambiarclave" color="dark" class="custom-router-link">       
          <span>Cambiar clave</span>
          <ion-icon name="chevron-forward" size="large"></ion-icon>
      </ion-router-link>  


      </ion-card-content>
  </ion-card>

</ion-content>