.custom-router-link {
    display: flex;
    align-items: center; /* Alinea el ícono y el texto verticalmente en el centro */
    margin-bottom: 16px; /* Espacio entre cada ítem */
    text-decoration: none; /* Elimina el subrayado del enlace */
  }
  .custom-router-link ion-icon {
    margin-right: 12px; /* Espacio entre el ícono y el texto */
    font-size: 24px; /* Tamaño del ícono; ajusta según sea necesario */
  }
  
  .custom-router-link span {
    font-size: 16px; /* Tamaño del texto; ajusta según sea necesario */
    font-weight: bold; /* Aplica negrita al texto */
    display: inline-block; /* Permite ajustar la posición vertical del texto */
    vertical-align: middle; /* Alinea el texto verticalmente al medio del ícono */
    line-height: 1; /* Alinea el texto verticalmente con el ícono */
    position: relative; /* Permite ajustar la posición vertical del texto */
    top: -11px; /* Ajusta la posición vertical del texto; aumenta o disminuye este valor para alinear con el ícono */
  }
  