<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Columna con la flecha a la izquierda -->
        <ion-col size="auto">
          <ion-router-link routerLink="/home" color="dark" >
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <!-- Columna con el título centrado -->
        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Perfil</ion-title>
        </ion-col>

        <!-- Columna con el icono de la casa a la derecha -->
        <ion-col size="auto">
          <ion-router-link routerLink="/home" color="dark" >
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-content>
      <form [formGroup]="form_perfil" (ngSubmit)="onSubmit()">
        <!-- Campo para Nombre -->
        <ion-item>
          <ion-input label="Nombre:" placeholder="Juanito" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
          <small *ngIf="nombre?.errors?.['required']">El nombre es requerido.</small>
          <small *ngIf="nombre?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
          <small *ngIf="nombre?.errors?.['maxlength']">El nombre no puede tener más de 50 caracteres.</small>
          <small *ngIf="nombre?.errors?.['lettersOnly']">El nombre solo puede contener letras.</small>
        </ion-text>
        <!-- Botón para cambiar el nombre -->
        <ion-button class="ion-padding" expand="block" type="button" [disabled]="nombre?.invalid" (click)="onChangeNombre()">Cambiar Nombre</ion-button>

        <!-- Campo para Apellido -->
        <ion-item>
          <ion-input label="Apellido:" placeholder="Juanez" formControlName="apellido"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)">
          <small *ngIf="apellido?.errors?.['required']">El apellido es requerido.</small>
          <small *ngIf="apellido?.errors?.['minlength']">El apellido debe tener al menos 3 caracteres.</small>
          <small *ngIf="apellido?.errors?.['maxlength']">El apellido no puede tener más de 50 caracteres.</small>
          <small *ngIf="apellido?.errors?.['lettersOnly']">El apellido solo puede contener letras.</small>
        </ion-text>
        <!-- Botón para cambiar el apellido -->
        <ion-button class="ion-padding" expand="block" type="button" [disabled]="apellido?.invalid" (click)="onChangeApellido()">Cambiar Apellido</ion-button>

      </form>
      

      
      
    </ion-card-content>
</ion-card>



  <ion-card>
      <ion-card-content>
        <ion-router-link routerLink="/cambiarcorreo" color="dark" class="custom-router-link">       
            <span>Cambiar correo</span>
            <ion-icon name="chevron-forward" size="large"></ion-icon>
        </ion-router-link>  

        <ion-router-link routerLink="/cambiarclave" color="dark" class="custom-router-link">       
          <span>Cambiar clave</span>
          <ion-icon name="chevron-forward" size="large"></ion-icon>
      </ion-router-link>  


      </ion-card-content>
  </ion-card>

</ion-content>