<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-router-link routerLink="/aautos" color="dark">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Autos</ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-router-link routerLink="/homea" color="dark">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-card-title class="ion-text-center">Agregar autos</ion-card-title>
    <ion-card-content>
      <form [formGroup]="form_autos">
        <ion-item>
          <ion-label position="floating">Patente:</ion-label>
          <ion-input formControlName="patente" (ionInput)="validatePatente()"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_autos.get('patente')?.invalid && (form_autos.get('patente')?.dirty || form_autos.get('patente')?.touched)">
          <small *ngIf="form_autos.get('patente')?.errors?.['required']">La patente es requerida.</small>
        </ion-text>
        <ion-button class="ion-padding" expand="block" (click)="search()">Buscar</ion-button>
        <ion-button class="ion-padding" expand="block" (click)="delete()" [disabled]="form_autos.get('patente')?.invalid">Eliminar</ion-button>

        <ion-item>
          <ion-label position="floating">Marca:</ion-label>
          <ion-input formControlName="marca" (keydown)="preventSpaces($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_autos.get('marca')?.invalid && (form_autos.get('marca')?.dirty || form_autos.get('marca')?.touched)">
          <small *ngIf="form_autos.get('marca')?.errors?.['required']">La marca es requerida.</small>
          <small *ngIf="form_autos.get('marca')?.errors?.['minlength']">La marca debe tener al menos 3 letras.</small>
          <small *ngIf="form_autos.get('marca')?.errors?.['maxlength']">La marca no puede tener más de 50 letras.</small>
        </ion-text>
        <ion-button class="ion-padding" expand="block" (click)="changeMarca()" 
        [disabled]="form_autos.get('marca')?.invalid || !form_autos.get('patente')?.value">Cambiar</ion-button>


        <ion-item>
          <ion-label position="floating">Modelo:</ion-label>
          <ion-input formControlName="modelo" (keydown)="preventSpaces($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_autos.get('modelo')?.invalid && (form_autos.get('modelo')?.dirty || form_autos.get('modelo')?.touched)">
          <small *ngIf="form_autos.get('modelo')?.errors?.['required']">El modelo es requerido.</small>
          <small *ngIf="form_autos.get('modelo')?.errors?.['minlength']">El modelo debe tener al menos 3 letras.</small>
          <small *ngIf="form_autos.get('modelo')?.errors?.['maxlength']">El modelo no puede tener más de 50 letras.</small>
        </ion-text>
        <ion-button class="ion-padding" expand="block" (click)="changeModelo()" 
        [disabled]="form_autos.get('modelo')?.invalid || !form_autos.get('patente')?.value">Cambiar</ion-button>

        <ion-item>
          <ion-label position="floating">Color:</ion-label>
          <ion-input formControlName="color" (keydown)="preventSpaces($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_autos.get('color')?.invalid && (form_autos.get('color')?.dirty || form_autos.get('color')?.touched)">
          <small *ngIf="form_autos.get('color')?.errors?.['required']">El color es requerido.</small>
          <small *ngIf="form_autos.get('color')?.errors?.['pattern']">El color debe contener solo letras.</small>
          <small *ngIf="form_autos.get('color')?.errors?.['minlength']">El color debe tener al menos 3 letras.</small>
          <small *ngIf="form_autos.get('color')?.errors?.['maxlength']">El color no puede tener más de 50 letras.</small>
        </ion-text>
        <ion-button class="ion-padding" expand="block" (click)="changeColor()" 
        [disabled]="form_autos.get('color')?.invalid || !form_autos.get('patente')?.value">Cambiar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
