<ion-menu contentId="main-content">
 
  <ion-toolbar>
    <div class="ion-text-left ion-padding">
      <h1>ADMINISTRACION</h1>
    </div>
  </ion-toolbar>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="icon-col">
          <ion-router-link routerLink="/aedit" color="dark" class="custom-router-link">
            <ion-icon name="person" size="large"></ion-icon>
            <span>Editar usuario</span>
          </ion-router-link>

          <ion-router-link routerLink="/autosedit" color="dark" class="custom-router-link">
            <ion-icon name="car" size="large"></ion-icon>
            <span>Editar auto</span>
          </ion-router-link>

          <ion-router-link routerLink="/login" color="dark" class="custom-router-link">
            <ion-icon name="exit" size="large"></ion-icon>
            <span>Cerrar sesión</span>
          </ion-router-link>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>DuoCar</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="ion-page ion-padding" id="main-content">


  <ion-content class="ion-padding">
    <ion-grid>
      <!-- Título: Viajes disponibles -->
  <ion-row class="ion-padding">
    <ion-col size="12" class="ion-text-center">
      <ion-title>Opciones</ion-title>
    </ion-col>
  </ion-row>

  <!-- Lista de Tarjetas -->
  <ion-row>
    <ion-col size="12">
      <div class="scrollable-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Usuarios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-router-link routerLink="/auser" color="#fff">
              <ion-button expand="block">Ir</ion-button>
            </ion-router-link>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Viajes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-router-link routerLink="/aviaje" color="#fff">
              <ion-button expand="block">Ir</ion-button>
            </ion-router-link>
          </ion-card-content>
        </ion-card>


        
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Autos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-router-link routerLink="/aautos" color="#fff">
              <ion-button expand="block">Ir</ion-button>
            </ion-router-link>
          </ion-card-content>
        </ion-card>


          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>


















 