<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-router-link routerLink="/editarperfil" color="dark">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Perfil</ion-title>
        </ion-col>

        <ion-col size="auto">
          <ion-router-link routerLink="/home" color="dark">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-img style="height: 250px; padding-top: 20px;"
      src="../../../assets/image/correo.png"
      alt="se callo la wea">
    </ion-img>
  </div>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="form_correo" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Correo Nuevo:</ion-label>
          <ion-input formControlName="correoNuevo" (focus)="form_correo.get('correoNuevo')?.markAsTouched()"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_correo.get('correoNuevo')?.invalid && (form_correo.get('correoNuevo')?.dirty || form_correo.get('correoNuevo')?.touched)">
          <small *ngIf="form_correo.get('correoNuevo')?.errors?.['required']">El correo es requerido.</small>
          <small *ngIf="form_correo.get('correoNuevo')?.errors?.['email']">El correo no es válido.</small>
          <small *ngIf="form_correo.get('correoNuevo')?.errors?.['dominioInvalido']">El dominio debe ser .cl o .com.</small>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Confirmar Correo:</ion-label>
          <ion-input formControlName="correoConfirmacion" (focus)="form_correo.get('correoConfirmacion')?.markAsTouched()"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_correo.get('correoConfirmacion')?.invalid && (form_correo.get('correoConfirmacion')?.dirty || form_correo.get('correoConfirmacion')?.touched)">
          <small *ngIf="form_correo.get('correoConfirmacion')?.errors?.['required']">La confirmación del correo es requerida.</small>
          <small *ngIf="form_correo.get('correoConfirmacion')?.errors?.['email']">El correo no es válido.</small>
          <small *ngIf="form_correo.get('correoConfirmacion')?.errors?.['dominioInvalido']">El dominio debe ser .cl o .com.</small>
          <small *ngIf="form_correo.errors?.['emailsDoNotMatch']">Los correos no coinciden.</small>
        </ion-text>

        <ion-button class="ion-padding" expand="block" type="submit" [disabled]="form_correo.invalid">Cambiar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
