<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Columna con la flecha a la izquierda -->
        <ion-col size="auto">
          <ion-router-link routerLink="/homec" color="dark" >
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <!-- Columna con el título centrado -->
        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Perfil</ion-title>
        </ion-col>

        <!-- Columna con el icono de la casa a la derecha -->
        <ion-col size="auto">
          <ion-router-link routerLink="/homec" color="dark" >
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
    <ion-card-content>
      
      <ion-card-title class="ion-text-center ion-padding">Pasajero</ion-card-title>


      <ion-item>
        <ion-label>Juanito alverto</ion-label>
      </ion-item>


      <ion-router-link routerLink="/home" color="#fff">
        <ion-button class="ion-padding" expand="block">Cambiar</ion-button>
      </ion-router-link>

    </ion-card-content>
</ion-card>



</ion-content>