<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Columna con la flecha a la izquierda -->
        <ion-col size="auto">
          <ion-router-link routerLink="/login" color="dark">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <!-- Columna con el título centrado -->
        <ion-col class="modi">
          <ion-title>Crear cuenta</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center ion-padding">
      <ion-text color="primary">
        <h4>Rellene el formulario</h4>
      </ion-text>
    </div>

    <div class="ion-text-center ion-padding">
      <ion-icon name="person" size="large"></ion-icon>
    </div>

    <ion-card-content>
      <form [formGroup]="form_register" (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-input label="Nombre:" placeholder="Ingrese su nombre" formControlName="nombre" (ionInput)="removeSpaces('nombre')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_register.get('nombre')?.invalid && (form_register.get('nombre')?.dirty || form_register.get('nombre')?.touched)">
          <small *ngIf="form_register.get('nombre')?.errors?.['required']">El nombre es requerido.</small>
          <small *ngIf="form_register.get('nombre')?.errors?.['lettersOnly']">El nombre solo puede contener letras.</small>
        </ion-text>
      
        <ion-item>
          <ion-input label="Apellido:" placeholder="Ingrese su apellido" formControlName="apellido" (ionInput)="removeSpaces('apellido')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_register.get('apellido')?.invalid && (form_register.get('apellido')?.dirty || form_register.get('apellido')?.touched)">
          <small *ngIf="form_register.get('apellido')?.errors?.['required']">El apellido es requerido.</small>
          <small *ngIf="form_register.get('apellido')?.errors?.['lettersOnly']">El apellido solo puede contener letras.</small>
        </ion-text>
      
        <ion-item>
          <ion-input label="Correo:" placeholder="Ingrese su correo" formControlName="correoNuevo" (ionInput)="removeSpaces('correoNuevo')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_register.get('correoNuevo')?.invalid && (form_register.get('correoNuevo')?.dirty || form_register.get('correoNuevo')?.touched)">
          <small *ngIf="form_register.get('correoNuevo')?.errors?.['required']">El correo es requerido.</small>
          <small *ngIf="form_register.get('correoNuevo')?.errors?.['email']">Ingrese un correo válido.</small>
          <small *ngIf="form_register.get('correoNuevo')?.errors?.['dominioInvalido']">El dominio debe ser .cl o .com.</small>
        </ion-text>
      
        <ion-item>
          <ion-input label="Repita Correo:" placeholder="Repita su correo" formControlName="correoConfirmacion" (ionInput)="removeSpaces('correoConfirmacion')"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="form_register.get('correoConfirmacion')?.invalid && (form_register.get('correoConfirmacion')?.dirty || form_register.get('correoConfirmacion')?.touched)">
          <small *ngIf="form_register.get('correoConfirmacion')?.errors?.['required']">La confirmación es requerida.</small>
        </ion-text>
        <ion-text color="danger" *ngIf="form_register.errors?.['emailsDoNotMatch']">
          <small>Los correos no coinciden.</small>
        </ion-text>
      
        <ion-item>
          <ion-input label="Contraseña:" placeholder="Ingrese su contraseña" [type]="passwordType" formControlName="contraseña"></ion-input>
          <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility('password')"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="form_register.get('contraseña')?.invalid && (form_register.get('contraseña')?.dirty || form_register.get('contraseña')?.touched)">
          <small *ngIf="form_register.get('contraseña')?.errors?.['required']">La contraseña es requerida.</small>
          <small *ngIf="form_register.get('contraseña')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
        </ion-text>
        
        <ion-item>
          <ion-input label="Repita la Contraseña:" placeholder="Repita su contraseña" [type]="confirmPasswordType" formControlName="confirmarContraseña"></ion-input>
          <ion-icon [name]="confirmPasswordIcon" slot="end" (click)="togglePasswordVisibility('confirm')"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="form_register.get('confirmarContraseña')?.invalid && (form_register.get('confirmarContraseña')?.dirty || form_register.get('confirmarContraseña')?.touched)">
          <small *ngIf="form_register.get('confirmarContraseña')?.errors?.['required']">La confirmación es requerida.</small>
        </ion-text>
        <ion-text color="danger" *ngIf="form_register.errors?.['passwordsDoNotMatch']">
          <small>Las contraseñas no coinciden.</small>
        </ion-text>
      
        <ion-button class="ion-padding" expand="block" type="submit" [disabled]="form_register.invalid">Crear cuenta</ion-button>
      </form>
      
    </ion-card-content>
  </ion-card>
</ion-content>
