<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Columna con la flecha a la izquierda -->
        <ion-col size="auto">
          <ion-router-link routerLink="/auser" color="dark">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <!-- Columna con el título centrado -->
        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Editar</ion-title>
        </ion-col>

        <!-- Columna con el icono de la casa a la derecha -->
        <ion-col size="auto">
          <ion-router-link routerLink="/homea" color="dark">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form_perfiladmin" (ngSubmit)="onSubmit()">
        <!-- Campo para ID -->
        <ion-item>
          <ion-label position="floating">ID:</ion-label>
          <ion-input type="number" formControlName="id"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="id?.invalid && (id?.dirty || id?.touched)">
          <small *ngIf="id?.errors?.['required']">El ID es requerido.</small>
          <small *ngIf="id?.errors?.['min']">El ID debe ser un número positivo.</small>
        </ion-text>

        <!-- Botón para buscar ID -->
        <ion-button class="ion-padding" expand="block" type="button" [disabled]="id?.invalid" (click)="onBuscarID()">Buscar</ion-button>

        <!-- Botón para eliminar -->
        <ion-button class="ion-padding" expand="block" type="button" [disabled]="id?.invalid" (click)="onEliminar()">Eliminar</ion-button>

        <!-- Campo para Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input formControlName="nombre" (keydown)="preventSpaces($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
          <small *ngIf="nombre?.errors?.['required']">El nombre es requerido.</small>
          <small *ngIf="nombre?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
          <small *ngIf="nombre?.errors?.['maxlength']">El nombre no puede tener más de 50 caracteres.</small>
          <small *ngIf="nombre?.errors?.['lettersOnly']">El nombre solo puede contener letras.</small>
        </ion-text>

        <!-- Botón para cambiar el nombre -->
        <ion-button class="ion-padding" expand="block" type="submit" 
          [disabled]="nombre?.invalid || id?.invalid" (click)="onChangeNombre()">Cambiar Nombre</ion-button>

        <!-- Campo para Apellido -->
        <ion-item>
          <ion-label position="floating">Apellido:</ion-label>
          <ion-input formControlName="apellido" (keydown)="preventSpaces($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)">
          <small *ngIf="apellido?.errors?.['required']">El apellido es requerido.</small>
          <small *ngIf="apellido?.errors?.['minlength']">El apellido debe tener al menos 3 caracteres.</small>
          <small *ngIf="apellido?.errors?.['maxlength']">El apellido no puede tener más de 50 caracteres.</small>
          <small *ngIf="apellido?.errors?.['lettersOnly']">El apellido solo puede contener letras.</small>
        </ion-text>

        <!-- Botón para cambiar el apellido -->
        <ion-button class="ion-padding" expand="block" type="submit" 
          [disabled]="apellido?.invalid || id?.invalid" (click)="onChangeApellido()">Cambiar Apellido</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
