<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Columna con la flecha a la izquierda -->
        <ion-col size="auto">
          <ion-router-link routerLink="/viajec" color="dark">
            <ion-icon name="arrow-back" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>

        <!-- Columna con el título centrado -->
        <ion-col class="arreglo">
          <ion-title class="ion-text-center">Perfil</ion-title>
        </ion-col>

        <!-- Columna con el icono de la casa a la derecha -->
        <ion-col size="auto">
          <ion-router-link routerLink="/homec" color="dark">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<div class="custom-p">



  <ion-content>

    <ion-card>
      <ion-card-content>

        <ion-card-title class="ion-text-center ion-padding">Pasajero</ion-card-title>
        <ion-text>
          <h6 class="ion-text-center ion-padding">confirme la bajada de los pasajeros</h6>
        </ion-text>

        <ion-item>


          <ion-checkbox justify="space-between">Juanito perez</ion-checkbox>


        </ion-item>

        <ion-item>
          <ion-checkbox justify="space-between">Juanito perez</ion-checkbox>

        </ion-item>

        <ion-item>
          <ion-checkbox justify="space-between">Juanito perez</ion-checkbox>

        </ion-item>

        <ion-item>
          <ion-checkbox justify="space-between">Juanito perez</ion-checkbox>

        </ion-item>


        <ion-router-link routerLink="/gracias" color="#fff">
          <ion-button expand="block" class="ion-padding">Confirmar</ion-button>
        </ion-router-link>


      </ion-card-content>
    </ion-card>



  </ion-content>

</div>